#Downloading dataset from Kaggle

In [2]:
!kaggle datasets download akshatagrawal9431/shipment-orders-dataset -f orders_data.csv

Dataset URL: https://www.kaggle.com/datasets/akshatagrawal9431/shipment-orders-dataset
License(s): CC0-1.0
orders_data.csv: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
import zipfile
zip_ref = zipfile.ZipFile('orders_data.csv.zip') 
zip_ref.extractall()

zip_ref.close() # close file

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('orders_data.csv')
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,10-01-2023,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,18-06-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,13-07-2022,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [6]:
df.shape

(9994, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

Handling different values like unknown and Not Available

In [8]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [9]:
df1 = pd.read_csv('orders_data.csv', na_values = ['Not Available','unknown'])
df1['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

Adding new columns for discount, sale price, and profit

In [10]:
df1.head(2)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3

In [11]:
df1['Selling Price'] = df1['List Price'] * (1 - df1['Discount Percent'] * .01)
df1.head(2)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Selling Price
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1

In [12]:
df1['Profit'] = df1['Selling Price'] - df1['cost price']
df1.head(2)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Selling Price,Profit
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1

In [13]:
df1.rename(columns={'Profit':'Unit Profit', 'Selling Price':'Unit Selling Price'}, inplace=True)
df1.head(2)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent,Unit Selling Price,Unit Profit
0,1,01-03-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,14.8
1,2,15-08-2023,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,108.1

Changing datatype from object to datetime

In [14]:
df1['Order Date'] = pd.to_datetime(df1['Order Date'], format='%d-%m-%Y')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Order Id            9994 non-null   int64
 1   Order Date          9994 non-null   datetime64[ns]
 2   Ship Mode           9988 non-null   object
 3   Segment             9994 non-null   object
 4   Country             9994 non-null   object
 5   City                9994 non-null   object
 6   State               9994 non-null   object
 7   Postal Code         9994 non-null   int64
 8   Region              9994 non-null   object
 9   Category            9994 non-null   object
 10  Sub Category        9994 non-null   object
 11  Product Id          9994 non-null   object
 12  cost price          9994 non-null   int64
 13  List Price          9994 non-null   int64
 14  Quantity            9994 non-null   int64
 15  Discount Percent    9994 non-null   int64
 16  Unit Selling Price  9994 non-null   float64
 17  Unit Profit         9994 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(6), object(9)
memory usage: 1.4+ MB

In [15]:
df1.drop(columns = ['cost price', 'List Price','Discount Percent'], inplace = True)

In [16]:
df1.head(2)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,Quantity,Unit Selling Price,Unit Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1

In [17]:
df1['Total Profit'] = df1['Quantity'] * df1['Unit Profit']
df1['Total Profit']

0        29.6
1       324.3
2        -1.0
3       804.0
4        -2.0
        ...
9989     -3.6
9990     32.8
9991     69.6
9992     -3.6
9993     45.6
Name: Total Profit, Length: 9994, dtype: float64

Exporting dataframe to SQL using SQLALCHEMY library

In [18]:
import sqlalchemy as sal

In [ ]:
DB_USER = '*********'
DB_PASSWORD = '*********'  # REPLACE with your actual password
HOST = '*********'
PORT = '*********'
DB_NAME = '*********'

DATABASE_URL = f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{HOST}:{PORT}/{DB_NAME}"

engine = sal.create_engine(DATABASE_URL)

In [20]:
conn=engine.connect()
conn

In [21]:
df1.to_sql('orders_data', con=conn , index=False, if_exists = 'replace')

994

In [22]:
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,Quantity,Unit Selling Price,Unit Profit,Total Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,9.5,-0.5,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,940.8,160.8,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,19.0,-1.0,-2.0

In [23]:
df1.groupby('Product Id').sum(['Total Profit'])

,Order Id,Postal Code,Quantity,Unit Selling Price,Unit Profit,Total Profit
Product Id,,,,,,
FUR-BO-10000112,3513,60653,9,805.1,45.1,405.9
FUR-BO-10000330,13658,256733,10,1036.4,146.4,560.0
FUR-BO-10000362,18886,184360,14,2089.4,189.4,638.6
FUR-BO-10000468,35749,357215,21,706.1,86.1,380.6
FUR-BO-10000711,9310,120635,12,830.9,40.9,345.9
...,...,...,...,...,...,...
TEC-PH-10004912,21739,166396,11,493.8,53.8,203.8
TEC-PH-10004922,31470,296048,19,1037.3,57.3,259.2
TEC-PH-10004924,13937,105326,8,48.2,-1.8,-6.0
TEC-PH-10004959,5191,83105,4,328.8,28.8,74.4
TEC-PH-10004977,49957,473928,32,5099.0,399.0,1593.2

In [24]:
df1.groupby('Product Id').sum(['Total Profit']).sort_values(by = ['Total Profit'], ascending=False).head(10)

,Order Id,Postal Code,Quantity,Unit Selling Price,Unit Profit,Total Profit
Product Id,,,,,,
TEC-CO-10004722,28222,194875,20,59514.0,5644.0,24816.0
TEC-MA-10002412,2698,32216,6,21734.4,3624.4,21746.4
OFF-BI-10000545,57937,302599,48,18249.0,1959.0,17867.7
TEC-CO-10001449,41444,428939,38,18151.2,2631.2,15948.0
FUR-CH-10002024,44560,448062,39,21096.2,2246.2,13930.7
OFF-BI-10003527,61859,562064,31,26525.3,3435.3,12792.9
TEC-PH-10001459,38070,346769,39,13380.7,1290.7,11481.9
TEC-MA-10000822,4419,283475,18,16192.5,1612.5,10102.3
FUR-TA-10000198,28061,249689,27,9559.7,1229.7,10015.1
TEC-MA-10001047,10619,18736,11,13767.0,1607.0,9989.0

In [25]:
df1.groupby('Product Id').sum(['Total Profit']).sort_values(by = ['Total Profit'], ascending=False).reset_index()['Total Profit']

0       24816.0
1       21746.4
2       17867.7
3       15948.0
4       13930.7
         ...
1857      -35.7
1858      -37.0
1859      -39.5
1860      -44.5
1861      -48.2
Name: Total Profit, Length: 1862, dtype: float64

In [26]:
df1['Total Sale'] = df1['Quantity'] * df1['Unit Selling Price']
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,Quantity,Unit Selling Price,Unit Profit,Total Profit,Total Sale
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,9.5,-0.5,-1.0,19.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,940.8,160.8,804.0,4704.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,19.0,-1.0,-2.0,38.0

Write a Python code to list all distinct cities where orders have been shipped.

In [ ]:
df1['City'].unique()

In [28]:
df1['City'].nunique()

531

Find all orders from the 'Technology' category that were shipped using 'Second Class' ship mode, ordered by order date

In [29]:
df1[(df1['Category'] == 'Technology') & (df1['Ship Mode'] == 'Second Class')].sort_values(by = ['Order Date'], ascending = False).head(10)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,Quantity,Unit Selling Price,Unit Profit,Total Profit,Total Sale
5341,5342,2023-12-31,Second Class,Consumer,United States,Oceanside,New York,11572,East,Technology,Accessories,TEC-AC-10002637,5,864.0,94.0,470.0,4320.0
8248,8249,2023-12-30,Second Class,Home Office,United States,Philadelphia,Pennsylvania,19134,East,Technology,Phones,TEC-PH-10001795,2,703.0,93.0,186.0,1406.0
1666,1667,2023-12-28,Second Class,Consumer,United States,Dallas,Texas,75217,Central,Technology,Accessories,TEC-AC-10003023,2,87.3,-2.7,-5.4,174.6
2104,2105,2023-12-26,Second Class,Corporate,United States,New York City,New York,10009,East,Technology,Accessories,TEC-AC-10001266,2,29.1,-0.9,-1.8,58.2
2451,2452,2023-12-23,Second Class,Consumer,United States,New York City,New York,10011,East,Technology,Phones,TEC-PH-10000149,6,116.4,16.4,98.4,698.4
3044,3045,2023-12-20,Second Class,Consumer,United States,Troy,Ohio,45373,East,Technology,Phones,TEC-PH-10001530,5,989.4,89.4,447.0,4947.0
2370,2371,2023-12-20,Second Class,Corporate,United States,Warwick,Rhode Island,2886,East,Technology,Accessories,TEC-AC-10004353,4,245.0,45.0,180.0,980.0
3778,3779,2023-12-18,Second Class,Home Office,United States,Miami,Florida,33180,South,Technology,Phones,TEC-PH-10002564,3,67.9,7.9,23.7,203.7
4616,4617,2023-12-17,Second Class,Corporate,United States,Houston,Texas,77095,Central,Technology,Accessories,TEC-AC-10000109,3,127.4,17.4,52.2,382.2
4361,4362,2023-12-15,Second Class,Consumer,United States,Lafayette,Louisiana,70506,South,Technology,Phones,TEC-PH-10003875,3,28.8,-1.2,-3.6,86.4

Find the average order value (Total Sale)

In [30]:
import numpy as np
np.mean(df1['Total Sale'])

np.float64(1108.5979787872725)

Find the city with the highest total quantity of products ordered.

In [31]:
df1.groupby('City').sum('Quantity')['Quantity'].reset_index().sort_values(by = ['Quantity'], ascending = False)

              City  Quantity
329  New York City      3417
266    Los Angeles      2879
374   Philadelphia      1981
438  San Francisco      1935
452        Seattle      1590
..             ...       ...
257    Lindenhurst         1
221        Jupiter         1
213      Iowa City         1
386    Port Orange         1
140         Elyria         1

[531 rows x 2 columns]

Rank orders in each region by quantity in descending order

In [32]:
df1[['Order Id','Region','Quantity']].sort_values(by = ['Region','Quantity'], ascending = [True, False])

      Order Id   Region  Quantity
660        661  Central        14
1045      1046  Central        14
7387      7388  Central        14
8074      8075  Central        14
9515      9516  Central        14
...        ...      ...       ...
9752      9753     West         1
9838      9839     West         1
9902      9903     West         1
9953      9954     West         1
9986      9987     West         1

[9994 rows x 3 columns]

List all orders placed in the first quarter of any year (January to March), including the total cost for these orders

In [33]:
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,Quantity,Unit Selling Price,Unit Profit,Total Profit,Total Sale
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,9.5,-0.5,-1.0,19.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,940.8,160.8,804.0,4704.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,19.0,-1.0,-2.0,38.0

In [34]:
df1[df1['Order Date'].dt.quarter.isin([1])][['Order Id','Order Date', 'Total Sale']]

      Order Id Order Date  Total Sale
0            1 2023-03-01       509.6
2            3 2023-01-10        19.0
5            6 2022-03-13       339.5
7            8 2022-01-25      5187.0
8            9 2023-03-23        58.8
...        ...        ...         ...
9963      9964 2022-01-17        19.4
9966      9967 2022-02-21       739.2
9973      9974 2023-03-07      1296.0
9989      9990 2023-02-18        86.4
9990      9991 2023-03-17       172.8

[2493 rows x 3 columns]

Calculate the total amount of orders for each quarter of each year

In [35]:
df1['Year'] = df1['Order Date'].dt.year
df1['Quarter'] = df1['Order Date'].dt.quarter

In [36]:
df1.groupby(['Year','Quarter']).sum('Total Sale')['Total Sale'].reset_index()

   Year  Quarter  Total Sale
0  2022        1   1275547.6
1  2022        2   1355326.7
2  2022        3   1343727.8
3  2022        4   1500939.2
4  2023        1   1559456.2
5  2023        2   1282878.4
6  2023        3   1308164.5
7  2023        4   1453287.8

Find top 10 highest profit generating products

In [37]:
df1.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,Quantity,Unit Selling Price,Unit Profit,Total Profit,Total Sale,Year,Quarter
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6,509.6,2023,1
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3,2124.3,2023,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,9.5,-0.5,-1.0,19.0,2023,1
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,940.8,160.8,804.0,4704.0,2022,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,19.0,-1.0,-2.0,38.0,2022,3

In [38]:
df1.groupby('Product Id').sum('Total Profit')['Total Profit'].reset_index().sort_values(by = ['Total Profit'], ascending = False)

           Product Id  Total Profit
1614  TEC-CO-10004722       24816.0
1642  TEC-MA-10002412       21746.4
657   OFF-BI-10000545       17867.7
1604  TEC-CO-10001449       15948.0
80    FUR-CH-10002024       13930.7
...               ...           ...
788   OFF-BI-10003712         -35.7
589   OFF-AR-10003631         -37.0
1023  OFF-PA-10000143         -39.5
748   OFF-BI-10002799         -44.5
921   OFF-FA-10002280         -48.2

[1862 rows x 2 columns]

Find top 3 highest selling products in each region acc to quantity

In [39]:
df1.groupby(['Region','Product Id']).sum('Quantity')['Quantity'].reset_index().sort_values(by = ['Region','Quantity'], ascending = [True, False]).groupby('Region').head(3).reset_index()

    index   Region       Product Id  Quantity
0     461  Central  OFF-BI-10000301        34
1     474  Central  OFF-BI-10000756        33
2     470  Central  OFF-BI-10000546        29
3    2190     East  OFF-PA-10001970        33
4    1914     East  OFF-BI-10003656        32
5    1549     East  FUR-FU-10004848        31
6    3560    South  OFF-ST-10003716        26
7    2757    South  FUR-CH-10000513        24
8    3231    South  OFF-BI-10004728        24
9    5088     West  TEC-AC-10003832        45
10   4321     West  OFF-BI-10000174        32
11   4346     West  OFF-BI-10001036        31

Total sale in each region

In [40]:
df1.groupby('Region').sum('Total Sale')['Total Sale'].reset_index().sort_values(by = ['Total Sale'], ascending = False)

    Region  Total Sale
3     West   3467409.6
1     East   3257983.8
0  Central   2387881.2
2    South   1966053.6

Find top 5 highest selling products in each region according to sales

In [41]:
df1.groupby(['Product Id','Region']).sum("Total Sale")['Total Sale'].reset_index().sort_values(by = ['Region','Total Sale'], ascending = [True, False]).groupby('Region').head(5).reset_index()

    index       Product Id   Region  Total Sale
0    1890  OFF-BI-10000545  Central    125827.5
1    4700  TEC-CO-10004722  Central     84875.0
2    4719  TEC-MA-10000822  Central     77509.8
3    1971  OFF-BI-10001120  Central     55282.5
4    2498  OFF-BI-10004995  Central     42210.0
5    4701  TEC-CO-10004722     East    106421.0
6    4727  TEC-MA-10001047     East     81549.0
7     123  FUR-BO-10004834     East     66364.2
8    4671  TEC-CO-10001449     East     60948.0
9     227  FUR-CH-10002024     East     60189.6
10   4745  TEC-MA-10002412    South    130406.4
11   4919  TEC-PH-10001459    South     73932.1
12    927  FUR-TA-10000198    South     68789.9
13   4729  TEC-MA-10001127    South     50499.2
14   2280  OFF-BI-10003527    South     32029.4
15   4580  TEC-AC-10003832     West     61170.8
16   4702  TEC-CO-10004722     West     53760.0
17   4150  OFF-SU-10000151     West     53337.9
18   1043  FUR-TA-10003473     West     52669.5
19    337  FUR-CH-10003973     West     43596.4

Find month over month growth comparison for 2022 and 2023 sales eg: Jan 2022 vs Jan 2023

In [42]:
df1['Month'] = df1['Order Date'].dt.month

In [43]:
a = df1.groupby(['Year','Month']).sum('Total Sale')['Total Sale'].reset_index()

In [44]:
pivot_table = a.pivot_table(index='Month', columns='Year', values='Total Sale', aggfunc='sum').reset_index()
pivot_table['YoY Growth %'] = ((pivot_table[2023] - pivot_table[2022]) / pivot_table[2022]) * 100
pivot_table

Year  Month      2022      2023  YoY Growth %
0         1  437431.3  434765.5     -0.609421
1         2  444011.1  731638.8     64.779394
2         3  394105.2  393051.9     -0.267264
3         4  476400.9  543231.5     14.028227
4         5  413625.5  410707.9     -0.705372
5         6  465300.3  328939.0    -29.306085
6         7  375278.4  422533.7     12.592065
7         8  534562.4  465010.3    -13.011035
8         9  433887.0  420620.5     -3.057593
9        10  601707.8  626498.3      4.120023
10       11  451809.6  334940.6    -25.866870
11       12  447421.8  491848.9      9.929579

For each category, which month had highest sales

In [45]:
df1.groupby(['Category','Month']).sum('Total Sale')['Total Sale'].reset_index().sort_values(by = ['Category','Total Sale'], ascending = [True, False]).groupby('Category').head(1).reset_index()

   index         Category  Month  Total Sale
0      1        Furniture      2    409913.9
1     13  Office Supplies      2    445699.6
2     33       Technology     10    545987.2

Which sub category had highest growth by profit in 2023 compare to 2022

In [47]:
x1 = df1.groupby(['Sub Category','Year'],).sum(['Total Profit'])['Total Profit'].reset_index().sort_values(by = ['Total Profit'], ascending = False)
x2 = x1.pivot_table(index='Sub Category', columns='Year', values='Total Profit', aggfunc='sum').reset_index()
x2['Growth %'] = ((x2[2023] - x2[2022]) / x2[2022]) * 100
x2.sort_values(by = ['Growth %'], ascending = False)

Year Sub Category     2022     2023   Growth %
15       Supplies   5161.0   9241.5  79.064135
11       Machines  34605.5  56939.8  64.539741
3         Binders  40812.5  57990.3  42.089556
7       Envelopes   2607.3   3502.4  34.330534
14        Storage  42927.8  53177.5  23.876602
13         Phones  63060.3  76438.2  21.214457
10         Labels   2007.2   2181.6   8.688721
0     Accessories  38798.3  40613.7   4.679071
4       Bookcases  25494.7  25776.1   1.103759
12          Paper  16150.7  16211.9   0.378931
5          Chairs  78672.5  75233.2  -4.371667
2             Art   5333.0   5079.2  -4.759047
9     Furnishings  22655.3  16428.4 -27.485401
16         Tables  58622.7  39899.5 -31.938481
6         Copiers  42703.1  26561.8 -37.798895
1      Appliances  37088.7  17493.9 -52.832264
8       Fasteners    370.7     87.9 -76.288104

Reading Data from SQL Server in Python

In [49]:
df = pd.read_sql_query('SELECT * FROM orders_data', con=conn)
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,Quantity,Unit Selling Price,Unit Profit,Total Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,254.8,14.8,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,708.1,108.1,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,9.5,-0.5,-1.0
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,940.8,160.8,804.0
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,19.0,-1.0,-2.0